#lc-cnt {
	background: red;
}
#cc-licence-tabs h2 ul li {
	display: inline-block;
	margin-bottom: 0px;
}
#cc-licence-tabs h2 ul li.ui-state-active a {
    background-color: #21759b;
    color: #fff;
    text-shadow: none;
}
#cc-licence-tabs h2.nav-tab-wrapper {
	margin: 0px;
	margin-bottom: 20px;
}
#cc-licence-tabs ul {
	margin: 20px 0px 1px;
}
#cc-licence-tabs .postbox-container {
	max-width: 1200px;
	width: 90%;
}
#cc-save-changes {
	margin-top: 20px;
}
#cc-licence-accordion .cc-wp-editor-wrap {
	min-height: 400px;
}
/*last steps ui accordion */

.ui-accordion .ui-accordion-header {
	cursor: pointer !important;
	position: relative;
	margin-top: 1px;
	zoom: 1;
	height: 40px;
	border: 1px solid #CCC;
	line-height: 40px;
	vertical-align: middle;
	font-size: 21px;
	font-weight: normal;
	padding-left: 10px;
}
.ui-accordion .ui-accordion-li-fix {
	display: inline;
}
.ui-accordion .ui-accordion-header-active {
	border-bottom: 0 !important;
}
.ui-accordion .ui-accordion-header a {
	display: block;
	font-size: 1em;
	padding: .5em .5em .5em .7em;
}
/* IE7-/Win - Fix extra vertical space in lists */
.ui-accordion a {
	zoom: 1;
}
.ui-accordion-icons .ui-accordion-header a {
	padding-left: 2.2em;
}
.ui-accordion .ui-accordion-header .ui-icon {
	position: absolute;
	left: .5em;
	top: 50%;
	margin-top: -8px;
}
.ui-accordion .ui-accordion-content {
	padding: 1em 2.2em;
	border-top: 0;
	margin-top: -2px;
	position: relative;
	top: 1px;
	margin-bottom: 2px;
	overflow: auto;
	display: none;
	zoom: 1;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
	height: 400px;
}
.ui-accordion .ui-accordion-content-active {
	display: block;
}
.cc-steps-preview {
	border: 1px solid #ccc;
	padding: 10px 20px;
	margin: 10px 0px;
}